{{ if .Site.Params.featured.enable | default false }}
<style>
  .card .card-img-top { transition: transform .28s ease; }
  .card:hover .card-img-top { transform: scale(1.2); }
    #featured .card {
    transition: transform .2s ease, box-shadow .2s ease;
  }
  #featured .card:hover {
    transform: translateY(-4px);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
  }

  /* keep zoom clipped */
  #featured .card-head { overflow: hidden; }
</style>

<section id="featured" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ .Site.Params.featured.title | default "Featured Projects" }}</h3>
        <div class="row justify-content-center px-3 px-md-5">
            {{ range .Site.Params.featured.items }}
                <div class="col-lg-4 col-md-6 my-3">
                {{- $link := .featured.link -}}
                {{- $isExternal := or (strings.HasPrefix (lower $link) "http://") (strings.HasPrefix (lower $link) "https://") -}}
                <div class="card my-3 h-100 position-relative" title="{{ .title }}">
                    <div class="card-head overflow-hidden">
                    <img class="card-img-top" src="{{ .image }}" alt="{{ .title }}">
                    </div>
                    <div class="card-body bg-transparent p-3">
                    <div class="pb-2 bg-transparent">
                        {{ range .badges }}<span class="badge bg-secondary me-1">{{ . }}</span>{{ end }}
                    </div>
                    <h5 class="card-title bg-transparent mt-1">{{ .title }}</h5>
                    <div class="card-text bg-transparent secondary-font">{{ .content }}</div>
                    </div>

                    <!-- make whole card clickable -->
                    <a href="{{ if $isExternal }}{{ $link }}{{ else }}{{ $link | relURL }}{{ end }}"
                    {{ if $isExternal }}target="_blank" rel="noopener noreferrer"{{ end }}
                    class="stretched-link" aria-label="{{ .title }}"></a>

                    {{ if .links }}
                    <div class="card-footer py-3">
                    {{ range .links }}
                    <span class="m-1 mx-2">
                        <a href="{{ .url }}" target="_blank" rel="noopener noreferrer">
                        <i class="{{ .icon }}"></i>
                        </a>
                    </span>
                    {{ end }}
                    </div>
                    {{ end }}
                </div>
                </div>
                {{ end }}

        </div>
    </div>
</section>
{{ end }}